{% load static %}

<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django library</title>

    <link rel="stylesheet" href="{% static 'vendor/css/bootstrap.min.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static 'vendor/css/fontawesome.all.min.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static 'sources/css/styles.css'%}" type="text/css">

    {% block styles %}
    {% endblock styles %}

</head>
<body class="d-flex flex-column h-100">

    <header>
        {% include 'components/navbar.html' %}
    </header>

    <main role="main" class="flex-shrink-0">
        <div class="container">
            {% block content %}

            {% endblock %}
        </div>
    </main>

    {% include 'components/footer.html' %}

    <script defer src="{% static 'vendor/js/jquery-3.4.1.slim.min.js' %}"></script>
    <script defer src="{% static 'vendor/js/popper.min.js' %}"></script>
    <script defer src="{% static 'vendor/js/fontawesome.all.min.js' %}"></script>
    <script defer src="{% static 'vendor/js/bootstrap.min.js' %}"></script>

</body>
</html>