{% extends 'base.html' %}

{% block content %}
    <h2>Reviews</h2>
    {% for review in review_list %}
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">{{review.author}} about {{review.book.title}}</h4>
                <p class="card-text">Recommended?
                {% if review.is_recommended %}
                    <span style="color: green"><i class="far fa-check-circle"></i></span>
                {% else %}
                    <span style="color: red"><i class="far fa-times-circle"></i></span>
                {% endif %}</p>
                <a href="{% url 'review_detail' review.id %}" class="btn btn-primary">Read</a>
            </div>
        </div>
    {% endfor %}

{% endblock content %}